@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

/* shared styles */
.btn-primary{
    border-radius: 8px;
    background: rgb(229, 84, 115);
    width: 170px;
    height: 64px;
    padding: 20px 43px 20px 43px;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    border: none;
}
.text-color{
    color: rgba(39, 39, 39, 0.6);
}
.text-color2{
    color: rgba(39, 39, 39, 0.8);
}

/* header section styles */

header{
    background-color: rgba(229, 84, 115, 0.1);
}
.header{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 97px;
}
.header-section{
    margin-top: 147px;
}
.heading{
    font-size: 5rem;
    font-weight: 800;
    line-height: 96px;
}
.heading-description{
    line-height: 30px;
}
.header-img{
    max-width: 635px;
    margin-top: 90px;
}

/* featured flowers */
.featured-flowers{
    max-width: 594px;
    margin: 0 auto;
    margin-top: 178px;
    text-align: center;
}
.featured-flowers-header{
    font-weight: 800;
    line-height: 48px;
    font-size: 2.5rem;
}
.featured-flowers-description{
    margin-bottom: 48px;
}

/* three flowers styles */
.three-flowers{
    max-width: 1464px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
    margin-bottom: 180px;
}
.first-flower,.second-flower,.third-flower{
    border-radius: 300px 300px 0px 0px;
    width: 464px;
}
.first-flower{
    background: rgba(167, 33, 98, 0.15);
}
.second-flower{
    background: rgba(5, 151, 160, 0.15);
}
.third-flower{
    background: rgba(71, 125, 17, 0.15);
}
.first-flower-img{
    width: 310px;
    margin: 0 auto;
    padding-top: 110px;
}
.second-flower-img{
    width: 370px;
    margin: 0 auto;
    padding-top: 117px;
}
.third-flower-img{
    width: 314px;
    margin: 0 auto;
    padding-top: 67px;
}

/* support section */
.support-section{
    max-width: 1464px;
    height: 320px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 128px;
}
.delivery-boy,.delivery-flower,.delivery-support{
    text-align: center;
    margin: auto;
}
.delivery-boy>p,.delivery-flower>p,.delivery-support>p{
    font-weight: 600;
    font-size: 1.5rem;
}

/* responsive mobile devices */
@media screen and (max-width:576px) {
    .header{
        flex-direction: column;
        width: auto;
    }
    .header-section{
        text-align: center;
    }
    .header-img img{
        width: 100%;
    }
    .featured-flowers{
        text-align: center;
    }
    .three-flowers{
        grid-template-columns: repeat(1,1fr);
    }
    .first-flower,.second-flower,.third-flower{
        width: 100%;
        margin-bottom: 40px;
    }
    .three-flowers-name{
        visibility: hidden;
    }
    .support-section{
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media screen  and (min-width:576px) and (max-width:992px) {
    .header{
        flex-direction: column;
        width: auto;

    }
    .header-section{
        text-align: center;
    }
    .header-img img{
        width: 100%;
    }
    .header-img{
        margin: auto;
    }
    .three-flowers{
        grid-template-columns: repeat(1,1fr);
    }
    .first-flower,.second-flower,.third-flower{
        margin: 0 auto;
        margin-bottom: 80px;
    }
}